{% extends 'base.html' %}
{% block content %}
 <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div>
            <h3>
              Barbecue - BBQ - Barbeque<br> It doesn't matter how you spell it<br>It all means the same thing...<br> Family, Friends & Good Eatin!
            </h3>
            
            <p>
              Our aim is to get you on the right grill and get you started 
              with some simple, but impressive recipes to wow family and friends at your first attempt!
            </p>  
        </div>
        <hr>
        <div>
          <a>
            <h3>
              Where it all began
            </h3>
            <p>
            The origins of the term barbecue are unclear but the general
            concensus is that the 'Spanish' first used the term 'Barbacoa' to refer to the natives of the 'Caribbean' cooking meat over a fire on a wooden frame.<br> 
            The history of barbecuing meanwhile has a somewhat checkered past from cannibalism to slavery, 
          but that's a story for another time!<br>
           The social event that we know as barbecuing today started in the 1940's after the end of the second world war and evolved quickly with the
            invention of the gas barbecue coming along in the 1950's. Now a common feature in many gardens they are a great excuse for people to get together
            over a beer and a burger.
            </p>
          </a>
        </div> 
      </div>
    </div>
 {% endblock %}  