{% extends 'base.html'%} {% block content %}
<h3>Your added Recipes</h3>
<div class="row">
  <ul>
    {% for task in tasks %}
    <li>
      <div>
        <a
          href="{{url_for('edit_task', task_id=task._id)}}"
          type="button"
          class="btn btn-info"
        >
          Edit</a
        >
        <a
          href="{{url_for('delete_task', task_id=task._id)}}"
          type="button"
          class="btn btn-info"
        >
          Delete</a
        >
      </div>
      <div>
        <strong>{{task.task_name}}</strong>
      </div>
      <div>
        <span>
          {{task.task_description}}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
